* {
    outline: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}


 :root {
    --color-font-primary: #FFFFFF;
    --color-background: #1B4977;
    --color-background-opacity: rgba(27, 73, 119, 0.9);
    --color-background-home: #FAFAFA;
    --navbar-color-button: #183B5E;
    --color-background-footer: #112D49;
    --color-font-global: #1B4977;
    --color-background-alternative: #333333;
    --color-select: #B0B0B0;
    --color-border: #EAEAEA;
    --color-header: #F5F5F5;
}

textarea{
    resize: none;
}

.data-user-poup {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
.b-white {
    color: white;
}


.title-h3-alternative {
    text-align: center;
    width: 500px;
    color: black;
    margin: auto;
}


.text-popup {
    color: rgba(51, 51, 51, 0.8);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
}

.link-a,
.title-h1,
.title-h1-white {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
}

.title-h1,
.title-h1-white {
    text-align: center;
    margin-bottom: 40px;
    line-height: 36px;
    font-size: 33px;
}

.link-a {
    font-size: 20px;
    line-height: 18px;
    text-decoration: none;
}

.title-h1-white {
    color: var(--color-font-primary);
}

.title-h3,
.title-h1-card {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
}

.title-h3 {
    font-size: 25px;
    line-height: 30px;
    color: var(--color-background-alternative);
}

.title-h3-alternative {
    font-family: 'Inter';
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    font-style: normal;
}

.subtitle,
.title-h1-card,
.title-h2,
.title-h3-alternative {
    color: var(--color-font-global);
}

.title-h1-card {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.title-h2 {
    font-size: 16px;
}

.title-h3-italic {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 450;
    font-size: 30px;
    line-height: 36px;
    color: var(--color-font-primary);
}

.description-card {
    color: rgba(0, 0, 0, 0.7);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    text-align: justify;
}

.subtitle-p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: white;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    text-decoration: none;
    line-height: 30px;
}

.subtitle-p-white {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: white;
}

.menu-popUp {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgba(0,0,0);
}

.btn-click:hover {
    cursor: pointer;
}

.center-data{
    position: absolute;
    top: 200px;
    left: 30%;
    right: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1600px) {
    .others-news .description-card{
        display: none;
    }

    .others-news .otheNewsItem{
        height: 125px;
    }
}
@media screen and (max-width: 1300px) {
    .link-a{
        font-size: 15px;
    }
}
@media screen and (max-width: 1000px) {
    .title-h1,
    .title-h1-white{
        font-size: 25px;
    }

    .title-h3-italic{
        font-size: 22px!important;
    }
}

@media screen and (max-width: 800px) {
    .title-h1,
    .title-h1-white{
        font-size: 20px;
    }

    .title-h3-italic{
        font-size: 18px!important;
    }

    .content-news h6{
        font-size: 0.85rem;
    }
    .title-h3{
        font-size: 20px!important;
    }
    .news-container{
        display: none;
    }
    table{
        display: inline-block;
        overflow: auto;
    }

    table tr:first-of-type{
        position: sticky;
        top: 0;
        z-index: 100;
    }
}

@media screen and (max-width: 500px) {
    .description-about{
        margin-top: 50px!important;
    }
    .description-about img{
        width: 100%;
    }
    .description-about p{
        padding: 60px 0;
    }
}