html{
    scroll-behavior: smooth;
}

.parallax .item {
    position: relative;
    height: calc(100vh + 200px);
}

.parallax .item .title {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.parallax .item .title i {
    font-size: 2rem;
}

.parallax .item .title h2 {
    margin-top: 10px;
    margin-bottom: 0;
}

.parallax .item .title h3 {
    font-size: 1rem;
    margin-top: 5px;
    margin-bottom: 0;
}

.parallax .item .cover {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.65);
}

.parallax .item .content, .parallax .item .cover {
    height: 100vh;
}

.parallax .item .content {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.parallax .item .content p {
    font-size: 1.5rem;
    line-height: 40px;
    text-align: center;
    padding: 0 150px;
    color: #fff;
    position: relative;
    z-index: 3;
    opacity: 0;
    transform: translateY(60px);
}

.btnTopo{
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 50px;
    right: 50px;
    z-index: 100;
    cursor: pointer;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.65);
}

.btnTopo i{
    color: #fff;
}

.textAnimated {
    animation: textMove 0.8s;
    animation-fill-mode: forwards;
}

@keyframes textMove {
    from {
        opacity: 0;
        transform: translateY(60px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}