.contato {
    max-width: 80%;
    display: flex;
    justify-content: center;
    column-gap: 2.5%;
    margin: 50px auto;
}

.contato .left {
    width: 40%;
    margin-right: 10%;
}

.contato .right {
    width: 50%;
}

.contato .left h1 {
    font-size: 2.2rem;
    margin-bottom: 10px;
}

.contato .left h2 {
    font-weight: normal;
    opacity: 0.9;
    font-size: 1.1rem;
    letter-spacing: 1px;
}

.contato .left .info-group {
    margin-top: 70px;
}

.contato .left .info-item {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.contato .left .info-item p {
    font-size: 1.05rem;
}

.contato .right .form {
    padding: 30px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.contato .right .form input,
.contato .right .form textarea {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    height: 40px;
    padding: 5px;
    margin-bottom: 20px;
}

.contato .right .form textarea{
    height: 150px;
    resize: none;
}

.contato .right .form label {
    font-size: 0.9rem;
    opacity: 0.9;
}

.contato .right .form input[type=submit]{
    width: fit-content;
    padding: 10px 35px;
    cursor: pointer;
    margin-left: auto;
    display: block;
    color: #fff;
}

@media screen and (max-width: 1000px) {
    .contato .left h1{
        font-size: 1.8rem;
    }

    .contato{
        max-width: 90%;
    }
}

@media screen and (max-width: 800px) {
    .contato .left h1{
        font-size: 1.5rem;
    }

    .contato .left h2{
        font-size: 0.9rem;
    }

    .contato{
        max-width: 95%;
    }

    .contato .left .info-item p {
        font-size: 0.8rem;
    }

    .contato .left .info-group {
        margin-top: 40px;
    }
}

@media screen and (max-width: 650px) {
    .contato{
        flex-direction: column;
    }

    .contato .left, .contato .right{
        width: 100%;
    }

    .contato .left{
        margin-bottom: 25px;
    }

    .info-group{
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .contato .left h2{
        display: none;
    }
    .contato .left h1 {
        font-size: 1.4rem;
        text-align: center;
    }
}